/* .container {
  pointer-events: none;
}
.navbar-brand,
.nav-link {
  pointer-events: auto;
} */

.bannerContainer {
  display: none;
}
@media (min-width: 992px) {
  .bannerContainer {
    min-width: 999px;
    position: absolute;
    height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    user-select: none;
    z-index: -1;
    pointer-events: auto;
    background-color: white;
    font-size: 0.875rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
      0 2px 10px 0 rgb(0 0 0 / 12%);
  }
}
@media (min-width: 992px) {
  #navbar:hover .bannerContainer {
    display: flex;
    height: 150px;
    -webkit-animation: slide-in-fwd-top 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-fwd-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

/* @media (min-width: 992px) {
  .top-nav-collapse .bannerContainer {
    display: none;
    height: 55px;
  }
} */

.bannerContainer .banner {
  --height: 155px;
  width: 100vw;
  height: var(--height);
}

.bannerContainer .animated {
  width: 100vw;
  position: relative;
  height: var(--height);
}

.bannerContainer .animated .layer {
  top: 0;
  left: 50%;
  width: auto;
  position: absolute;
  height: var(--height);
  transform: translateX(-50%);
}

.bannerContainer .animated .layer > img,
.bannerContainer .animated .layer > video {
  height: 100%;
  display: block;
  line-height: 0;
}

.bannerContainer .animated.css-animated {
  transition: all 0.3s ease;
}

.bannerContainer .animated.css-animated .layer {
  transition: all 0.3s ease;
}

@-webkit-keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
  }
}
@keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    opacity: 0;
    height: 0;
  }
}

.flip-out-ver-right {
  -webkit-animation: flip-out-ver-right 0.45s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-out-ver-right 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.slide-in-fwd-top {
  -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
