.blogTitle{
  background-image: -webkit-linear-gradient(right,#effe08,#ffdab2,#f94d4d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-card {
  border-bottom: 1px #ebeef5 solid;
  margin-bottom: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.index-info {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
/* .index-card:hover {
  background-color: burlywood;
} */

/* .index-card:hover::after { */
  /* content: "â­";
  position: relative;
  top: -10rem;
  left: 30%;
  width: max-content;
  border-radius: 2px; */
  /* -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s; */
/* } */

/* override */
/* .markdown-body code {
  color: #3794d1 !important;
}
.post-meta>i{
  color: #d81e06 !important;
} */
/* .hover-with-bg {
  padding: .45rem 0.5rem 0.45rem 0.1rem !important;
} */
