.blogTitle{
  background-image: -webkit-linear-gradient(right,#effe08,#ffdab2,#f94d4d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-card {
  border-bottom: 1px #ebeef5 solid;
  margin-bottom: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.index-info {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

#toc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  /* padding: 3rem 0 0 0; */
  visibility: hidden;
  /* position: relative; */
  overflow: hidden;
  margin-top: 1rem;
  /* margin-left: -5rem; */
  /* margin-right: 3rem; */
  padding: 1rem 1.2rem;
  border-radius: 8px;
  /* background: var(--card-bg); */
  -webkit-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  background: #fff;
  margin-left: -1rem;
}
/* .index-card:hover {
  background-color: burlywood;
} */

/* .index-card:hover::after { */
/* content: "â­";
  position: relative;
  top: -10rem;
  left: 30%;
  width: max-content;
  border-radius: 2px; */
/* -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s; */
/* } */

/* override */
/* .markdown-body code {
  color: #3794d1 !important;
}
.post-meta>i{
  color: #d81e06 !important;
} */
/* .hover-with-bg {
  padding: .45rem 0.5rem 0.45rem 0.1rem !important;
} */

/* .markdown-body {
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.markdown-body h1,
h2,
h3,
h4,
h5,
h6 {
  color: #515151;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1em;
}
.markdown-body h2,
h3,
h4,
h5,
h6 ::before {
  display: inline-block;
  font-weight: bold;
  background: linear-gradient(#fff 60%, #ffb11b 40%);
  color: #515151;
  padding: 2px 13px 2px;
  margin-right: 3px;
  height: 50%;
}

.markdown-body blockquote {
  border: none;
  display: block;
  font-size: 0.9em;
  overflow: auto;
  overflow-scrolling: touch;
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  color: #6a737d;
  padding: 10px 20px;
  margin: 15px 0;
  border-left-color: #ffb11b;
  background: #fff5e3;
}

.markdown-body blockquote p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 0;
  margin: 0px;
  line-height: 26px;
  color: #595959;
}

.markdown-body ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 25px;
} */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  display: block;
}

.markdown-body .copy-btn {
  font-size: 15px;
  top: 0.2rem;
  right: 1rem;
}
.copy-btn-dark {
  color: #ccd3dc;
}

figure.highlight {
  background: #21252b;
  border-radius: 5px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4);
  padding-top: 30px;
}
figure.highlight::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -20px;
  position: absolute;
  width: 12px;
}