.hello {
  background-color: red;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #bac3cd;
}
::-webkit-scrollbar-thumb {
  background-color: #2f4154;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #576d84;
}
.markdown-body pre{
  color: aliceblue;
}